<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>About | Read•Able</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav aria-label="Main Navigation">

            <h1 class="logo" aria-label="ReadAble">
                <span class="logo-read">Read</span>
                <span class="logo-dot" aria-hidden="true">•</span>
                <span class="logo-able">Able</span>
            </h1>

            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">News</a></li>
                 <li><a href="/analyze">Analyzer</a></li>
                <li><a href="#">Reading Mode</a></li>
                <li><a href="#">Accessibility Tips</a></li>
                <li><a href="about.html">About</a></li>
            </ul>

        </nav>
        </header>
        <main>
            <section class="about">
                 <a href="/" class="back-link">← Back to Home</a>
                <h1>About Read<span class="brand-dot">•</span>Able</h1>

                <p>
                    Read•Able is a news platform designed to make daily information
                    easy to read and understand for people of all age groups.
                    In a world filled with complex language and overwhelming news,
                    Read•Able focuses on clarity, simplicity, and accessibility.
                </p>

                <p>
                    This project is built with accessibility in mind.
                    We use clear layouts, readable font sizes, appropriate spacing, and straightforward language to allow people with reading difficulties, dyslexia, impaired vision, and a strong desire to read have a comfortable time consuming news.
                </p>

                <p>
                     Read•able is an open-source project and is continuously evolving.
                      Future improvements include reading modes, dark mode, and
                      category-based content to further enhance the reading experience.
                </p>
            </section>
        </main>
</body>
</html>